body {
    background-color: #a3ccff;      /* gpm 2018-11- changes the background color of the document */
    color: #2e2e1a;
    font-family: arial, helvetica, sans-serif;
}

p {             /* gpm 2018-11-11 changes the padding for the education information section  */
   font-family: "Courier New", Monospace, sans-serif;
   padding-top: 5px;
   padding-bottom: 15px;
   padding-left: 10px;
   padding-right: 5px;
}

header {        /*  gpm 2018-11-7 changes the heading in resume.html to be centered, and changes the font */
     font-family: "Courier New", Monospace, sans-serif;
     text-align: center;
}

ul {        /* gpm 2018-11-7 changes the unordered list to a new font to show up more prominently  */
    font-family: "Courier New", Monospace, sans-serif;
    list-style-type: square;
}
    
h4 {        /* gpm 2018-11-7 changes the headings of each section to show up better  */
    font-family: "Impact", Charcoal, sans-serif;
}

#classes {                  /* gpm 2018-11-11 changes the padding for the classes section  */
    border-top: 1px solid black;
}


span.EdInfo.on {color: #0000ff}     /* gpm 2018-12-2 these change the color of the text that is education info */

span.ClassInfo.on {color: #ff0066}      /* gpm 2018-12-2 these change the color of the text that is class info */

span.VolunteerInfo.on {color: #ffcc00}      /* gpm 2018-12-2 these change the color of the text that is volunteer info */
    
span.SkillInfo.on {color: #669900}      /* gpm 2018-12-2 these change the color of the text that is skill info */

span.InterestInfo.on {color: #ff66ff}       /* gpm 2018-12-2 these change the color of the text that is interest info */

span.place.on {color:#c2f29e}       /* gpm 2018-12-2 these change the color of the text that is different places */

