body { 
background-color: #b800a3;          /* gpm 2018-11-1 this is the background color of the entire webpage */
color: #2e2e1a;                 /*  gpm 2018-11-1 this is the color of the text in the document */
font-family: arial, helvetica, sans-serif;
}

h1 {     
    text-align: center;
    font-family: "Courier New", Monospace, sans-serif;      
    padding: 20px;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #0066ff;
}

h4 {       
    font-family: "Impact", Charcoal, sans-serif;
}

p {     
    font-family: "Courier New", Monospace, sans-serif;
}

.image {   
    width: 15%;
    height: 15%;
    display: flex;              
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

ul {    
    list-style-type: square;
    border: 1px solid black;
    outline-style: double;
    outline-color: #0066ff;
}

ol {   
    list-style-type: upper-roman;
    border: 1px solid black;
    outline-style: double;
    outline-color: #0066ff;
}

#hobbiesInterests {             
    padding: 5px 10px 5px 10px;
}

#futureGoals {             
    padding: 5px 10px 5px 10px;
}

#educationInfo {            
    padding: 5px 10px 5px 10px;
}

#aboutMe {              
    padding: 5px 10px 5px 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

